body{
    background-image: url(img/papel-rosa.jpg);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
  margin: 20px;

}
#lista{ border-radius: 50px;
    width: 150px;
    background-color: pink;
}
h2{ text-align: center;
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

h3{ text-align: center;
border: 1px solid black;
background-color:rgb(233, 196, 202);
width: 500px;
height:250px;

}

h4{ 
    height: 15px;
}
span{
   color: blueviolet;
}
p{
    line-height: 20px;
}
a{
    color: black;}

a:hover{
    color: blueviolet;
    transition: cubic-bezier(0.3 , auto);
    border: 3px solid black;
    border-radius: 15px;
}
#conta-btm{
    border: 3px solid blueviolet;
    padding: 6px;
    border-radius: 15px;
}

#conta-btm:hover{
    background-color: blueviolet;
    color: black;}

    form{
        display: flex;
        flex-direction: column;
        width: 250px;
    
    }

#claude{

    border: 3px;
font-style: italic;
font-weight: bold;

}
#caetano{

    border: 3px;
font-style: italic;
font-weight: bold;

}

#tubby{
    border: 3px;
    font-style: italic;
    font-weight: bold;
}
#vanila{
    border: 3px;
    font-style: italic;
    font-weight: bold;
}
#zeus{
    border: 3px;
    font-style: italic;
    font-weight: bold;}

#formulario{
    margin: auto;
    text-align:center;
    width:auto;
    margin-left: auto;
    background-color:rgb(226, 185, 219);
  
}

